{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}
{% block javascript %} {{ parent() }} {% endblock %}

{% block body %}
    <div class="about">
        <h1>Présentation</h1>
        <p>
            Je m'appelle Allan, j'ai 19 ans et je suis passionné d'informatique depuis mon enfance. Je suis actuellement en train d'étudier pour obtenir mon DUT Informatique à
            l'IUT de Lens. Je possède des connaissances dans de multiples langages de programmation, telles que le Java, le Python, le PHP etc. Je détiens aussi des compétences en
            relation avec l'informatique, telles que la gestion de systèmes de réseaux, l'UML ou bien Git par exemple.
        </p>

        <h1>Formation professionelle</h1>
        <h2>IUT de Lens - Université d'Artois</h2>
        <p>Septembre 2020 - Juin 2022 : DUT informatique en cours d'obtention</p>

        <h2>Lycée Louis Pasteur</h2>
        <p>Septembre 2017 - Juillet 2020 : Bac Sciences et Technologies de l'Industrie et du Développement Durable spécialité Système d’Information et Numérique obtenu</p>

        <h1>Expérience</h1>
        <h2>Cours Particulier</h2>
        <p>En informatique</p>

        <h1>Contact</h1>
        <ul>
            <li><p>07 49 41 71 41</p></li>
            <li><a href="mailto:allanponchaut2@gmail.com">allanponchaut2@gmail.com</a></li>
            <li><a href="https://www.linkedin.com/in/allanpon/">in/allanpon</a></li>
            <li><a href="https://github.com/allanpon/">/allanpon</a></li>
            <li><p>322, rue de l'abbaye, 62110 Hénin-Beaumont</p></li>
        </ul>

        <h1>Compétences</h1>
        <h2>Hard skills</h2>
        <ul>
            <li>Git</li>
            <li>Java</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>PHP</li>
            <li>Laravel</li>
            <li>Symfony</li>
            <li>Systèmes réseaux</li>
        </ul>

        <h2>Soft skills</h2>
        <ul>
            <li>Autonomie</li>
            <li>Curieux</li>
            <li>Passionné de nouvelles technologies</li>
        </ul>

        <h2>Langues</h2>
        <ul>
            <li>Français</li>
            <li>Anglais</li>
            <li>Allemand</li>
        </ul>

        <h1>Hobbies</h1>
        <ul>
            <li><p>Musique</p></li>
            <li><p>Lecture</p></li>
            <li><p>Veille informatique</p></li>
            <li><p>Jeux entre amis</p></li>
        </ul>
    </div>
{% endblock %}
