{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}
{% block javascript %} {{ parent() }} {% endblock %}

{% block body %}
    <div class="about">
        <h1>Présentation</h1>
        <p>
            Je m'appelle Allan, j'ai 19 ans et je suis passionné d'informatique depuis mon enfance. Je suis actuellement en train d'étudier pour obtenir mon DUT Informatique à
            l'IUT de Lens. Je possède des connaissances dans de multiples langages de programmation, telles que le Java, le Python, le PHP etc. Je détiens aussi des compétences en
            relation avec l'informatique, telles que la gestion de systèmes de réseaux, l'UML ou bien Git par exemple.
        </p>
    <h1>Parcours</h1>
    <div class="timeline">
        <div class="container left">
            <div class="date">Septembre 2017 - Juillet 2020</div>
            <i class="icon fas fa-school"></i>
            <div class="content">
                <h2>Lycée Louis Pasteur</h2>
                <p>
                    Bac Sciences et Technologies de l'Industrie et du Développement Durable spécialité Système d’Information et Numérique obtenu
                </p>
            </div>
        </div>
        <div class="container right">
            <div class="date">Septembre 2020 - Juin 2022</div>
            <i class="icon fas fa-school"></i>
            <div class="content">
                <h2>IUT de Lens - Université d'Artois</h2>
                <p>
                    DUT informatique en cours d'obtention
                </p>
            </div>
        </div>
    </div>

    <h1>Expérience</h1>
    <h2>Cours Particulier</h2>
    <p>En informatique</p>

        <h1>Contact</h1>
        <ul>
            <li><p><img class="fa fa-phone"> 07 49 41 71 41</p></li>
            <li><a href="mailto:allanponchaut2@gmail.com"><img class="fa fa-envelope"> allanponchaut2@gmail.com</a></li>
            <li><a href="https://www.linkedin.com/in/allanpon/"><img class="fab fa-linkedin-in"> in/allanpon</a></li>
            <li><a href="https://github.com/allanpon/"><img class="fab fa-github"> /allanpon</a></li>
            <li><p><img class="fa fa-home"> 22, rue de l'abbaye, 62110 Hénin-Beaumont</p></li>
        </ul>

        <h1>Compétences</h1>
        <h2>Hard skills</h2>
        <ul>
            <li><p>Git</p></li>
            <li><p>Java</p></li>
            <li><p>SQL</p></li>
            <li><p>HTML</p></li>
            <li><p>CSS</p></li>
            <li><p>PHP</p></li>
            <li><p>Laravel</p></li>
            <li><p>Symfony</p></li>
            <li><p>Systèmes réseaux</p></li>
        </ul>

        <h2>Soft skills</h2>
        <ul>
            <li><p>Autonomie</p></li>
            <li><p>Curieux</p></li>
            <li><p>Passionné de nouvelles technologies</p></li>
        </ul>

        <h2>Langues</h2>
        <ul>
            <li><p>Français</p></li>
            <li><p>Anglais</p></li>
            <li><p>Allemand</p></li>
        </ul>

        <h1>Hobbies</h1>
        <ul>
            <li><p><img class="fa fa-music"> Musique</p></li>
            <li><p><img class="fas fa-book"> Lecture</p></li>
            <li><p><img class="fa fa-desktop"> Veille informatique</p></li>
            <li><p><img class="fa fa-gamepad"> Jeux entre amis</p></li>
        </ul>
    </div>
{% endblock %}
