{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}
{% block javascript %} {{ parent() }} {% endblock %}

{% block body %}
    <div class="about">
        <h1>A propos</h1>
        <p>Cette page est en construction.</p>
    </div>
{% endblock %}