/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Open+Sans&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

h1 {
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Merriweather', serif;
    padding-left: 35px;
}

h3 {
    font-family: 'Rubik', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
}

/*
    HEADER - BEGIN
 */

.nom p {
    margin: 0 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color:  #3E7297;
    color: #EBF2FA;
}

.nom {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    transition: all 0.3s ease 0s;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #EBF2FA;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #427AA1;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    transition: all 0.3s ease 0s;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #EBF2FA;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/*
    HEADER - END
 */

/*
    FOOTER - BEGIN
*/

.coloricon {
    color: dimgray;
}

hr.solid {
    border-top: 1px solid #bbb;
    width: 25%;
}

.footer {
    padding: 40px 0;
    bottom: 0;
    width: 100%;

}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: dimgray;
}

.footer .social p {
    font-size: 20px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.4;
}

.footer .social a {
    font-size: 25px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.4;
    transition: all 0.3s ease 0s;
}

.footer .social a:hover {
    opacity: 0.8;
    transform: rotate(360deg);
}

.footer ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.4;
    transition: all 0.3s ease 0s;
}

.footer ul li p {
    color: inherit;
    text-decoration: none;
    opacity: 0.4;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 0.8;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #aaa;
}

/*
    FOOTER - END
*/

/*
    INDEX - BEGIN
*/

.titre-dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 420px;
    color: #EBF2FA;
    background-image: url('../images/webdev.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titre-dev a {
    text-decoration: none;
    color: inherit;
}

.titre-dev a:visited {
    text-decoration: none;
    color: inherit;
}

/*
    INDEX - END
*/

/*
    CARD - BEGIN
*/

#typewriter {
    margin-top: 0;
    color: #EBF2FA;
    font-size: 100%;
}

.button-cv {
    padding: 9px 25px;
    background: #4a8c6a;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #EBF2FA;
}

.button-cv:hover {
    background: #75B694;
}

@media screen and (min-width: 480px) {
    #typewriter {
        font-size: 200%;
    }
}

/*
    INDEX - END
*/

#container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 370px;
    width: 700px;


}



.product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;

}

#container .product-details h1{
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: black;
    margin: 0;

}

#container .product-details h1:before{
    position: absolute;
    content: '';
    right: 0%;
    top: 0%;
    transform: translate(25px, -15px);
    font-family: 'Bree Serif', serif;
    display: inline-block;
    background: #ffe6e6;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: #EBF2FA;
    margin: 0;
    animation: chan-sh 6s ease infinite;

}

#container .product-details > p {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 18px;
    color: #7d7d7d;

}
.control{
    position: absolute;
    bottom: 20%;
    left: 22.8%;

}
.btn {

    transform: translateY(0px);
    transition: 0.3s linear;
    background:  #427AA1;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
}

.btn a {
    color: inherit;
}

.btn:hover{transform: translateY(-6px);
    background: #1a66ff;}

.btn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin:0;

}
.btn .price, .shopping-cart{
    background: #333;
    border: 0;
    margin: 0;
}

.btn .price {
    transform: translateX(-10%); padding-right: 15px;
}

.btn .shopping-cart {
    transform: translateX(-100%);
    position: absolute;
    background: #333;
    z-index: 1;
    left: 0;
    top: 0;
}

.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 45%;
    display: inline-block;
}

.marathon {
    margin-top: 40%;
    width: 100%;
}

.portfolio {
    height: 100%;
}

.labyrinthe {
    padding-right: 300px;
    height: 100%;
}

.sokoban {
    width: 113%;
    height: 100%;
}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

/*
    CARD - END
*/

/*
    ROADMAP - BEGIN
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid black;
    border-radius: 16px;
    z-index: 1;
}

.container.right::after {
    left: -8px;
}

.container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: black;
    z-index: 1;
}

.container.right::before {
    left: 8px;
}

.container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.container.left .date {
    right: -270px;
}

.container.right .date {
    left: -250px;
}

.container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #427AA1;
    border: 2px solid black;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: black;
    z-index: 1;
}

.container.left .icon {
    right: 56px;
}

.container.right .icon {
    left: 56px;
}

.container .content {
    padding: 30px 90px 30px 30px;
    background: #427AA1;
    position: relative;
    border-radius: 0 500px 500px 0;
}

.container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
}

.container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: black;
}

.container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

@media (max-width: 767.98px) {
    .timeline::after {
        left: 90px;
    }

    .container {
        width: 100%;
        padding-left: 120px;
        padding-right: 30px;
    }

    .container.right {
        left: 0%;
    }

    .container.left::after,
    .container.right::after {
        left: 82px;
    }

    .container.left::before,
    .container.right::before {
        left: 100px;
        border-color: transparent #006E51 transparent transparent;
    }

    .container.left .date,
    .container.right .date {
        right: auto;
        left: 15px;
    }

    .container.left .icon,
    .container.right .icon {
        right: auto;
        left: 146px;
    }

    .container.left .content,
    .container.right .content {
        padding: 30px 30px 30px 90px;
        border-radius: 500px 0 0 500px;
    }
}


/*
    ROADMAP - END
*/

/*
    ABOUT - BEGIN
 */

.about p {
    margin-left: 4%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.about a {
    margin-left: 4%;
    text-decoration: none;
    color: #427AA1;
}

.about a:visited {
    color: #4a8c6a;
}

.about li {
    list-style: none;
}

/*
    ABOUT - END
 */

/*
    FORM - BEGIN
 */

form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
}

form input {
    margin-bottom: 10px;
}

form button {
    margin-top: 10px;
    background-color: #4a8c6a; /* Green */
    border: none;
    color: #EBF2FA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

form button:hover {
    cursor: pointer;
}

.mail-message {
    padding-bottom: 100px;
    transform: translateX(-25%);
    width: 200%;
}

/*
    FORM - END
 */